@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

#root {
  background-color: grey;
  margin: 0 auto;
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;
  padding: 1% 2%;
  max-width: 900px;
  min-width: 700px;
  max-height: 900px;
  min-height: 450px;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.navBar,
.content,
.keyboard,
.displays {
  margin: 2% 0;
}

button {
  all: unset;
}

.navBar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.navBar div {
  display: flex;
  align-items: center;
}

.levels {
  position: relative;
  padding: 2% 2.5%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.heading {
  padding: 2% 5%;
  width: 50%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
}

.mainText {
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.mainText p {
  margin: 10px;
}

.mainImage {
  width: 55%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.mainImage img {
  width: 100%;
  height: 100%;
}

.keyboard {
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard p {
  text-align: center;
  pointer-events: none;
}

.keyboard .highlight {
  background-color: red;
}

.keyboard-focus {
  outline: 2px solid red;
}

.displays {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time,
.reset {
  width: 30%;
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.levelDropDownHidden {
  display: none;
  visibility: hidden;
}

.levelDropDownShow {
  display: flex;
  visibility: show;
}

.levelDropDown {
  position: absolute;
  flex-direction: column;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 21rem;
  z-index: 1;
  overflow: scroll;
}

.levelDropDown::-webkit-scrollbar {
  display: none;
}

.levelDropDown p {
  width: 100%;
  height: 4rem;
  margin: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  background-color: rgb(210, 210, 210);
  cursor: pointer;
}

.levelDropDown p:hover {
  background-color: white;
}
